<div class="p-6 max-w-lg mx-auto bg-white rounded-lg shadow-md border border-green-400">
    <h2 class="text-2xl font-bold mb-4 text-green-600">Registrar Tratamiento</h2>
    <form #treatmentForm="ngForm" (ngSubmit)="agregarTratamiento()">
      <!-- Ganado -->
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="idGanado">Ganado</label>
        <select
          id="idGanado"
          [(ngModel)]="treatment.idGanado"
          name="idGanado"
          required
          #idGanado="ngModel"
          class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-green-400"
        >
          <option *ngFor="let cattle of cattleList" [value]="cattle.idGanado">
            {{ cattle.nombre }}
          </option>
        </select>
        <small *ngIf="idGanado.invalid && idGanado.touched" class="text-red-500">
          Seleccionar un ganado es obligatorio.
        </small>
      </div>
  
      <!-- Fecha -->
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="fecha">Fecha</label>
        <input
          id="fecha"
          type="date"
          class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-green-400"
          name="fecha"
          [(ngModel)]="treatment.fecha"
          required
        />
      </div>
  
      <!-- Descripción -->
      <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2" for="descripcion">Descripción</label>
        <textarea
          id="descripcion"
          class="w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:border-green-400"
          name="descripcion"
          [(ngModel)]="treatment.descripcion"
          placeholder="Ingrese la descripción del tratamiento"
          required
        ></textarea>
      </div>
  
      <!-- Botón Guardar -->
      <div class="flex justify-end">
        <button
          type="submit"
          [disabled]="treatmentForm.invalid"
          class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        >
          Guardar
        </button>
      </div>
    </form>
  </div>
  