<div class="overflow-x-auto p-6">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-bold text-green-600">Lista de dietas</h2>
    
    <a
        [routerLink]="['/dashboard/dieta/nuevo']"
        class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded-lg shadow-md"
      >
        Agregar
      </a>

  </div>
  <div>
    <table class="min-w-full bg-white border border-[#d1ecf1] rounded-lg shadow-lg">
      <thead>
        <tr class="bg-green-900 text-white uppercase text-sm leading-normal">
          <th class="py-3 px-6 text-left border-b border-[#d1ecf1]">ID</th>
          <th class="py-3 px-6 text-left border-b border-[#d1ecf1]">Nombre</th>
          <th class="py-3 px-6 text-left border-b border-[#d1ecf1]">Descripcion</th>
          <th class="py-3 px-6 text-center border-b border-[#d1ecf1]">Acciones</th>
        </tr>
      </thead>
      <tbody class="text-gray-600 text-sm font-light">
        <tr
          *ngFor="let diet of dietList"
          class="odd:bg-white even:bg-green-100 hover:bg-green-50 border-b border-[#d1ecf1]"
        >
          <td class="py-3 px-6 text-left">{{ diet.idDieta }}</td>
          <td class="py-3 px-6 text-left">{{ diet.nombre }}</td>
          <td class="py-3 px-6 text-left">{{ diet.descripcion }}</td>
          <td class="py-3 px-6 text-center">
            <div class="flex justify-center">
              <button
                class="w-8 h-8 mx-1 bg-sky-400 hover:bg-sky-500 text-white rounded-lg flex items-center justify-center"
              >
                <fa-icon [icon]="faEdit"></fa-icon>
              </button>
              <button
                class="w-8 h-8 mx-1 bg-red-500 hover:bg-red-600 text-white rounded-lg"
              >
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
