#sidebar {
  width: 250px;
}

#sidebar.close {
  width: 60px;
}

.sub-menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.7s ease-in-out;
}

.sub-menu.show {
  max-height: 500px; /* Ajusta según el contenido máximo esperado */
}

.dropdown-btn.rotate {
  transform: rotate(90deg);
}

.dropdown-btn {
  transition: transform 0.3s ease;
}
